# Project exclude paths
/.gradle/
/composeApp/build/
/composeApp/build/classes/kotlin/iosArm64/main/klib/
/composeApp/build/classes/kotlin/iosSimulatorArm64/main/klib/
/composeApp/build/classes/kotlin/iosX64/main/klib/
/composeApp/schemas/com.plcoding.bookpedia.book.data.database.FavoriteBooksDatabase/1.json
/iosApp/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/composeApp/src/desktopMain/kotlin/com/plcoding/bookpedia/book/data/database/DatabaseFactory.desktop.kt
/.kotlin/errors/errors-1733679067891.log
/.kotlin/errors/errors-1733679348901.log
/.kotlin/errors/errors-1733679374431.log
/.kotlin/errors/errors-1733679808151.log
/.kotlin/errors/errors-1733836568131.log
/.kotlin/errors/errors-1734039057357.log
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-3.0.4-commonMain-vgEXBw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-3.0.4-nonAndroidMain-vgEXBw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-compose-3.0.4-commonMain-MF5mEw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-compose-core-3.0.4-commonMain-LVMImg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-compose-core-3.0.4-nonAndroidMain-LVMImg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.4-commonMain-9CrlFg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.4-nativeMain-w6b6-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.4-nonAndroidMain-9CrlFg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.4-nonJsCommonMain-9CrlFg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.4-nonJvmCommonMain-9CrlFg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-core-3.0.4-commonMain-Eyr7Rw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-core-3.0.4-nonAndroidMain-Eyr7Rw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor2-3.0.4-commonMain-abtaLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor2-3.0.4-nativeMain-9MOhAg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor2-3.0.4-nonJvmCommonMain-abtaLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-auth-3.0.1-commonMain-CkCqYQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.0.1-commonMain-_r-fDQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.0.1-posixMain-_r-fDQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-3.0.1-darwinMain-Pggigg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.0.1-commonMain-vW75RQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.0.1-posixMain-vW75RQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-3.0.1-commonMain-EwGNrw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.0.1-commonMain-BYlo6A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.0.1-darwinMain-G8iuZg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.0.1-posixMain-BYlo6A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-3.0.1-commonMain-1bXsZA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.0.1-commonMain-Ie0iMQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.0.1-posixMain-Ie0iMQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.0.1-commonMain-KZTXgg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.0.1-posixMain-KZTXgg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-sse-3.0.1-commonMain-NhOpkw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.1-commonMain-mRaY8g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.1-darwinMain-kGNXpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.1-nixMain-mRaY8g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.1-posixMain-mRaY8g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-3.0.1-commonMain-6RXyCg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.0.1-commonMain-6r0LVg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.0.1-posixMain-6r0LVg.klib
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/charr0max.xcuserdatad/UserInterfaceState.xcuserstate
/iosApp/iosApp.xcodeproj/xcuserdata/charr0max.xcuserdatad/xcschemes/xcschememanagement.plist
